* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #747474;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.first-panel {
  width: 100vw;
  height: 100vh;
  /*background: linear-gradient(to bottom, red, yellow);*/
}

.wrapper {
  margin-left: 200px;
  margin-right: 200px;
  align-items: flex-end;
}

h1 {
  padding-top: 70px;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  font-weight: 300;
  font-size: 14px;
  padding: 10 10 0 0rem;
  color: #000000;
}

.bg-text {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.bg-text:after {
    font-family: open sans;
    font-weight: 700;
    color: #efefef;
    content: attr(data-bg-text);
    display: block;
    font-size: 130px;
    line-height: 1;
    position: absolute;
    top: 120px;
    right: 200px;
}

h2 {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 200px;
  font-weight: 300;
  font-size: 27px;
  line-height: 45px;
  color: #8C8C8C;
  align-content: center;
}

b {
  color: black;
}

u {
  text-decoration: none;
  border-bottom: solid 5px #e6c4ff;
}

.portfolio {
  justify-content: center;
  background-color: #F7F7F7;
  height: 950px;
  padding-top: 30px;
}

h3 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 200px;
  font-weight: 300;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  align-content: center;
  text-align: left;
}

.parent {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

img {
  width: 100%;
}

#wrapper {
  padding: 0;
  position: relative;
}

#wrapper:hover .text {
  visibility: visible;
  opacity: 1;
}

.text {
  padding-top: 30px;
  padding-left: 30px;
  font-weight: 600;
  visibility: hidden;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  color: #9f9f9f;
  font-size: 24px;
  text-align: left;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  cursor: hand;
}

.text p {
  padding-top: 12px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  font-weight: 100;
}

.parent2 {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.about {
  height: 700px;
  padding-top: 30px;
}

h5 {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 50px;
  font-weight: 300;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  align-content: center;
  text-align: left;
}

.mytext {
  margin-left: 200px;
  margin-right: 200px;
  text-align: left;
  font-size: 15px;
  line-height: 25px;
  padding-top: 20px;
}

.parent-about {
  margin-left: 200px;
  margin-right: 200px;
}

.wrapper-about {
  display: flex;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.image-about {
  width: 100%;
  padding-top: 40px;
}

.footer {
  height: 180px;
  margin: auto;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}

h4 {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}

.left {
  display: inline;
  padding-top: 130px;
}

.right {
  display: inline;
  padding-top: 130px;
}

/* form css*/
.form {
  margin: auto;
  display: none;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
}

.formheader {
  text-align: center;
  font-size: 34px;
  font-weight: 300;
  color: black;
}

p {
  text-align: center;
  color: #999999;
  padding-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  color: #999999;
}


label {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}

input {
  margin: auto;
  margin-top: 20px;
  width: 600px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #999999;
  text-align: center;
  color: #676767;
  background-color: none;
}

input:focus {
  outline: none;
}

#box {
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #999999;
  width: 600px;
  height: 200px;
  font-family: open sans;
  padding-top: 5px;
  padding-left: 10px;
  text-align: center;
  color: #676767;
  background-color: none;
}

#box:focus {
  outline: none;
}

button {
  margin: auto;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: white;
  border: 1px solid #999999;
  color: #999999;
  display: block;
  justify-content: center;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #e6c4ff;
  cursor: hand;
}

.form-close {
  background: none;
  border: none;
  /*transition: background-color 3s;*/
}

i {
  transition: transform 0.3s;
}

.rotate {
  transform: rotate(45deg);
}

.form-close:hover {
  color: black;
  outline: none;
  cursor: hand;
  transform: rotate(405deg);
  transition: transform 0.5s;
}

i:hover {
  outline: none;
}
